<%- include('./partials/head.ejs') %> 

<h1 class="page-heading">Brands</h1>


<% brands.forEach((brand) => { %>
    <a href="/brand/<%= brand %>"> 
        <p> <%= brand %> </p>
    </a>
<% }) %>






<%- include('./partials/foot.ejs') %> 