<%- include('./partials/head.ejs') %>

<h1 class="page-heading">Collections</h1>


<% owners.forEach((owner) => { %>
    <a href="/collections/<%= owner %>"> 
        <p> <%= owner %> </p>
    </a>
<% }) %>

<%- include('./partials/foot.ejs') %>
