<%- include('./partials/head.ejs') %>

<h1 class="page-heading">Lengths</h1>


<% lengths.forEach((length) => { %>
    <a href="/length/<%= length %>"> 
        <p> <%= length %> </p>
    </a>
<% }) %>

<%- include('./partials/foot.ejs') %>
