<%- include('./partials/head.ejs') %> 

<h1 class="page-heading">Widths</h1>


<% widths.forEach((width) => { %>
    <a href="/width/<%= width %>"> 
        <p> <%= width %> </p>
    </a>
<% }) %>






<%- include('./partials/foot.ejs') %> 