<%- include('./partials/head.ejs') %> 

<h1>Edit Deck</h1>

<div class="form-div">

    <form action="/decksite/<%= deck.id %>?_method=PUT" method="post" enctype="multipart/form-data">

        <label for="name">Title</label>
        <input type="text" name="name" id="name" required/>
    
        <label for="Brand">Brand</label>
        <input type="text" name="Brand" id="Brand" required/>
    
        <label for="Width">Width</label>
        <input type="text" name="Width" id="Width" required/>
    
        <label for="Length">Length</label>
        <input type="text" name="Length" id="Length" required/>
    
        <label for="Wheelbase">Wheelbase</label>
        <input type="text" name="Wheelbase" id="Wheelbase" required/>
    
        <label for="Woodshop">Woodshop</label>
        <input type="text" name="Woodshop" id="Woodshop" required/>
       
        <label for="img">Image</label>
        <input type="file" name="img" id="img"/>
    
        <input type="submit" value="Edit Board" />
    
    </form>

</div>



<%- include('./partials/foot.ejs') %> 