<%- include('./partials/head.ejs') %>

<h1 class="page-heading">Please log in or register</h1>
<p><a href="/login">Login</a></p>
<p><a href="/register">Register</a></p>

<%- include('./partials/foot.ejs') %>
