<%- include('./partials/loginhead.ejs') %>

    <%- include('./partials/flash.ejs') %>


        <h1 class="page-heading">Login</h1>
        <p>No account? <a href="/register">Register here</a></p>

        <div class="form-div">


            <form method="post" action="/login">

                <label class="label-class" for="username">Username</label>
                <input class="input-class" type="text" name="username" id="username" value="tom" required />

                <label class="label-class" for="password">Password</label>
                <input class="input-class" type="password" name="password" id="password" value="1234" required />

                <input class="label-class" type="submit" value="Login" id="login-button" />

            
                </form>

            

        </div>

        
        <%- include('./partials/foot.ejs') %>